.node {
    width: 25px;
    height: 25px;
    outline: 1px solid grey;
}

.node-start {
    background: green;
}

.node-target {
    background: blue;
}

.node-visited {
    background: orange;
}

.node-wall {
    background: grey;
}